In [1]:
import pandas as pd

In [2]:
# Best way: To Read a csv file using pd.read_csv()

df = pd.read_csv(r"C:\Users\Dhiraj\Desktop\pandas-for-interview\datasets\countries of the world.csv")

In [3]:
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [4]:
# Best way: to read a text file using read_table()
df = pd.read_table(r"C:\Users\Dhiraj\Desktop\pandas-for-interview\datasets\countries of the world.txt")
df


# Alternative way: of reading a txt file using read_csv

# df = pd.read_csv(r"C:\Users\Dhiraj\Desktop\pandas-for-interview\datasets\countries of the world.txt", sep = '\t')
# df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [ ]:
# Best way: To read a json file using pd.read_json()

df = pd.read_json(r"C:\Users\Dhiraj\Desktop\pandas-for-interview\datasets\json_sample.json")
df

In [ ]:
# Best way: To read a excel file using pd.read_excel() 
# df_excel = pd.read_excel(r"C:\Users\Dhiraj\Desktop\pandas-for-interview\datasets\world_population_excel_workbook.xlsx")

# To read particular sheet of the excel file
df_excel = pd.read_excel(r"C:\Users\Dhiraj\Desktop\pandas-for-interview\datasets\world_population_excel_workbook.xlsx", sheet_name = 'Sheet1')

df_excel

In [ ]:
# About pd.set_option() method to read/see/view the desired number of rows/columns of dataframe

# pd.set_option('display.max.rows', 235)
# pd.set_option('display.max.columns', 40)

In [ ]:
# df.info() provides summary of information about dataframe

df_excel.info()

In [ ]:
# df.describe() provides

df_excel.describe()

In [ ]:
# df.shape attribute is used to view the dimension of the dataframe (i.e rows, columns)

df_excel.shape

In [ ]:
# df.columns attribute returns a list of the column names in the DataFrame.

df_excel.columns

In [ ]:
# df.dtypes attribute returns a Series that contains the data types of the columns in the DataFrame.

df_excel.dtypes

In [ ]:
# About loc[] & iloc[]

# loc: