### `copy() method enables that, any edit on new subset dataframe will not impact on initial subset dataframe`

In [1]:
import pandas as pd

In [2]:
# dictionary data

data = {
    'Year': [2091, 2092, 2093, 2094, 2095],
    'Time': [11.49, 08.61, 11.49, 09.64, 13.65],
    'Athlete': ['Shelly-Ann Fraser-Pryce', 'Elaine Thompson-Herah', 'Florence Griffith-Joyner', 'Carmelita Jeter', 'Marion Jones'],
    'Place': ['Jamaica', 'Jamaica', 'United States', 'United States', 'United States']
}

In [3]:
# Creating the dataframe using dictionary data

df = pd.DataFrame(data)

In [4]:
df

   Year   Time                   Athlete          Place
0  2091  11.49   Shelly-Ann Fraser-Pryce        Jamaica
1  2092   8.61     Elaine Thompson-Herah        Jamaica
2  2093  11.49  Florence Griffith-Joyner  United States
3  2094   9.64           Carmelita Jeter  United States
4  2095  13.65              Marion Jones  United States

### `using copy() method to create a new subset dataframe`

In [5]:
df_fast_athelete = df.query('Time < 10').copy()

In [6]:
df_fast_athelete['Location'] = df_fast_athelete['Place'].str[:3]

In [7]:
df_fast_athelete

   Year  Time                Athlete          Place Location
1  2092  8.61  Elaine Thompson-Herah        Jamaica      Jam
3  2094  9.64        Carmelita Jeter  United States      Uni