### `Less use` of `inplace=True` parameter

### Instead, u can manually/explicitly override the dataframe with the modifications (i.e   df =)

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Create a dictionary data also having missing(i.e NaN) values
data = {'A': [1, np.nan, 3],
        'B': [4, 5, np.nan],
        'C': [np.nan, 7, 8]}

In [8]:
# creating a dataframe using above dictionary data

df = pd.DataFrame(data)

In [9]:
# Displaying data

df

     A    B    C
0  1.0  4.0  NaN
1  NaN  5.0  7.0
2  3.0  NaN  8.0

### `Good way:` filling NaN values and overriding dataframe manually

In [6]:
df = df.fillna(0)

In [7]:
df

     A    B    C
0  1.0  4.0  0.0
1  0.0  5.0  7.0
2  3.0  0.0  8.0

### `Alternative way :`  `using inplace=True` parameter

In [10]:
df.fillna(0, inplace=True)

df

     A    B    C
0  1.0  4.0  0.0
1  0.0  5.0  7.0
2  3.0  0.0  8.0