In [1]:
import pandas as pd

In [2]:
# Creating a Dictionary
people = {
    "first": ["Dhiraj", 'Ram', 'Shyam'], 
    "last": ["Kafle", 'Sapkota', 'Bhandari'], 
    "email": ["dhirajkafle@gmail.com", 'ramsapkota@email.com', 'shyambhandari@email.com']
}

In [3]:
people['email']

['dhirajkafle@gmail.com', 'ramsapkota@email.com', 'shyambhandari@email.com']

In [4]:

df = pd.DataFrame(people)

In [5]:
df

    first      last                    email
0  Dhiraj     Kafle    dhirajkafle@gmail.com
1     Ram   Sapkota     ramsapkota@email.com
2   Shyam  Bhandari  shyambhandari@email.com

In [6]:
df['email']

0      dhirajkafle@gmail.com
1       ramsapkota@email.com
2    shyambhandari@email.com
Name: email, dtype: object

In [7]:
df.email

0      dhirajkafle@gmail.com
1       ramsapkota@email.com
2    shyambhandari@email.com
Name: email, dtype: object

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
# type(df['email'])    
# type(df.email)

In [10]:
# Way of accessing values of multiple columns
df[['last', 'email']]                         
type(df[['last', 'email']])

pandas.core.frame.DataFrame

In [11]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [12]:

df.columns

Index(['first', 'last', 'email'], dtype='object')

In [13]:
# Understanding iloc   (index location)

df.iloc[0]
type(df.iloc[0])

pandas.core.series.Series

In [14]:
# way of accessing multiple rows
# df.iloc[[0,1]]
type(df.iloc[[0,1]])

pandas.core.frame.DataFrame

In [15]:
# way of accessing particular rows & particular columns using iloc

# df.iloc[[0,1], 2]
# type(df.iloc[[0,1], 2])        

#df.iloc[[0,1], [0,1]]
type(df.iloc[[0,1], [0,1]])

pandas.core.frame.DataFrame

In [16]:
# Understanding loc

# accessing row with the help of loc
# df.loc[0]
type(df.loc[0])

pandas.core.series.Series

In [17]:
#accessing multiple rows using loc
# df.loc[[0, 1]]
type(df.loc[[0, 1]])

pandas.core.frame.DataFrame

In [18]:
#accessing multiple rows & column using loc
# df.loc[[0, 1], 'email']
type(df.loc[[0, 1], 'email'])

pandas.core.series.Series

In [19]:
#accessing multiple rows & multiple columns using loc
type(df.loc[[0, 1], ['first','last']])

pandas.core.frame.DataFrame